@{
    ViewBag.Title = "Dashboard";
}
@model SimpleBank.Models.User


@if(ViewBag.UserId == ViewBag.CurrentUserId && ViewBag.CurrentUserId != null)
{
    <h3>Hello, @ViewBag.UserName!</h3>
}
else
{
    <h3>Sorry, you don't have permission to see this page.</h3>
}
