@{
    ViewBag.Title = "Sign up now and open your first account.";
}

@model SimpleBank.Models.UserViewModel


<div class="row">
    <div class="col-sm-6">
        <h2>@ViewBag.Title</h2>
        <form asp-action="SignUp" asp-controller="User" method="post">
            <div class="form-group">
                <label for="SUP.FirstName">First Name:</label>
                <input type="text" class="form-control" asp-for="SUP.FirstName">
                <span class="text-danger" asp-validation-for="SUP.FirstName"></span>
            </div>
            <div class="form-group">
                <label for="SUP.LastName">Last Name:</label>
                <input type="text" class="form-control" asp-for="SUP.LastName">
                <span class="text-danger" asp-validation-for="SUP.LastName"></span>
            </div>
            <div class="form-group">
                <label for="SUP.UserName">Username:</label>
                <input type="text" class="form-control" asp-for="SUP.UserName">
                <span class="text-danger" asp-validation-for="SUP.UserName"></span>
            </div>
            <div class="form-group">
                <label for="SUP.PasswordHash">Password:</label>
                <input type="password" class="form-control" asp-for="SUP.PasswordHash">
                <span class="text-danger" asp-validation-for="SUP.PasswordHash"></span>
            </div>
            <div class="form-group">
                <label for="SUP.ConfirmPassword">Confirm Password:</label>
                <input type="password" class="form-control" asp-for="SUP.ConfirmPassword">
                <span class="text-danger" asp-validation-for="SUP.ConfirmPassword"></span>
            </div>
            <div class="form-group">
                <label for="SUP.Email">Email:</label>
                <input type="text" class="form-control" asp-for="SUP.Email">
                <span class="text-danger" asp-validation-for="SUP.Email"></span>
            </div>
            <div class="form-group">
                <label for="SUP.Phone">Phone:</label>
                <input type="text" class="form-control" asp-for="SUP.Phone">
                <span class="text-danger" asp-validation-for="SUP.Phone"></span>
            </div>
            <div class="form-group">
                <label for="SUP.StreetAddress">Street Address:</label>
                <input type="text" class="form-control" asp-for="SUP.StreetAddress">
                <span class="text-danger" asp-validation-for="SUP.StreetAddress"></span>
            </div>
            <div class="form-group">
                <label for="SUP.State">State:</label>
                <input type="text" class="form-control" asp-for="SUP.State">
                <span class="text-danger" asp-validation-for="SUP.State"></span>
            </div>
            <div class="form-group">
                <label for="SUP.ZipCode">Zip Code:</label>
                <input type="text" class="form-control" asp-for="SUP.ZipCode">
                <span class="text-danger" asp-validation-for="SUP.ZipCode"></span>
            </div>
            <div class="form-group">
                <label for="SUP.City">City:</label>
                <input type="text" class="form-control" asp-for="SUP.City">
                <span class="text-danger" asp-validation-for="SUP.City"></span>
            </div>
            <div class="form-group">
                <label for="SUP.Country">Country:</label>
                <input type="text" class="form-control" asp-for="SUP.Country">
                <span class="text-danger" asp-validation-for="SUP.Country"></span>
            </div>

            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>

